body {
	background: url(pankaj-patel-561360-unsplash.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: monospace;
}

h1 {
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 40;
	color: deeppink;
}

a {
	font-family: 'Unlock', cursive;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

span {
	color: aliceblue;
	font-family: 'Orbitron', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkred;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: gray;
}

.active {
	background-color: dodgerblue;
}
