body {
    background-color: aquamarine;
}

header {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: ghostwhite;
}

aside {
    height: 200px;
    background-color: tomato;
    width: 33.3%;
    float: left;
}

article {
    height: 200px;
    background-color: coral;
    width: 33.3%;
    float: left;
    
}

footer {
    height: 150px;
    background-color: beige;
    clear: both;
}
