* {
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
}

body {
    background: url(../T_Y_D_Pics/james-donovan-460477-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
    background-color: darkturquoise;
}
